# Apply()
---------------
Es un comando muy poderoso que nos permite aplicar funciones a nuestro Data Frame.

Muchas veces queremos manipular nuestro Data Frame con operaciones, ``Apply()`` es el indicado para ello.

In [1]:
import pandas as pd

In [18]:
df_books=pd.read_csv('dataset/bestsellers.csv',sep=',',header=0)
df_books.head(2)
df_books.loc[0:10,['Name','Author']]

,Name,Author
0,10-Day Green Smoothie Cleanse,JJ Smith
1,11/22/63: A Novel,Stephen King
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson
3,1984 (Signet Classics),George Orwell
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids
5,A Dance with Dragons (A Song of Ice and Fire),George R. R. Martin
6,A Game of Thrones / A Clash of Kings / A Storm...,George R. R. Martin
7,A Gentleman in Moscow: A Novel,Amor Towles
8,"A Higher Loyalty: Truth, Lies, and Leadership",James Comey
9,A Man Called Ove: A Novel,Fredrik Backman
10,A Man Called Ove: A Novel,Fredrik Backman

In [3]:
#creando una funci贸n de python
def two_times(value):
    return value * 2

In [5]:
#Entramos al Data Frame y aplicamos la funci贸n
#A cada valor de que seleccionemos
df_books['User Rating'].apply(two_times)

0      9.4
1      9.2
2      9.4
3      9.4
4      9.6
      ...
545    9.8
546    9.4
547    9.4
548    9.4
549    9.4
Name: User Rating, Length: 550, dtype: float64

In [6]:
#Ocupando apply()
df_books['Rating 2']= df_books['User Rating'].apply(two_times)

In [9]:
df_books.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating 2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,9.4
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,9.4

Con apply se pueden aplicar funciones de tipo ``lambda``

In [10]:
df_books['Rating 2'] = df_books['User Rating'].apply(lambda x: x*3)

# Explicaci贸n
Sin utilizar memoria, puedo definir una funci贸n de tipo lambda y aplicarlo a los valores del DataFrame

In [11]:
df_books.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating 2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,14.1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,13.8
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,14.1

### Usando distintas columnas para operaciones

# CONDICIONAL
-----------------
Multiplica por 2 el valor de ``User Rating`` si el ``Genre`` es igual a ``Fiction``, en caso contrario deja a ``User Rating`` igual

In [12]:
#Aqu铆 aplicamos una lambda a todo el DF con condicional
df_books.apply(lambda x:x['User Rating']*2 if x['Genre']=='Fiction' else x['User Rating'])

KeyError: 'Genre'

# Error:
Esto es debido a que no especificamos que queremos cambias es decir las columnas, pues ``Genre`` son columnas.

Tendremos que especificar `axis=1`

In [13]:
#Aqu铆 aplicamos una lambda a todo el DF con condicional
df_books.apply(lambda x:x['User Rating']*2 if x['Genre']=='Fiction' else x['User Rating'],axis=1)

0      4.7
1      9.2
2      4.7
3      9.4
4      4.8
      ...
545    9.8
546    4.7
547    4.7
548    4.7
549    4.7
Length: 550, dtype: float64

In [15]:
#Reutilizando la columna
#Aqu铆 aplicamos una lambda a todo el DF con condicional
df_books['Rating 2']=df_books.apply(lambda x:x['User Rating']*2 if x['Genre']=='Fiction' else x['User Rating'],axis=1)

In [16]:
df_books.head(4)

,Name,Author,User Rating,Reviews,Price,Year,Genre,Rating 2
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,4.7
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,9.2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,4.7
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,9.4

# Resumen:
Como se puede observar, la columna `Rating 2` contiene el valor de `User Rating * 2 ` si el g茅nero literario es: `Fiction`

Esto se puede aplicar a una funci贸n prestablecida o a cualquier ``funci贸n lambda``.

> **La ventaja es que es mucho m谩s r谩pido que hacerlo en un loop o for de Python**
>
> ***Siempre que quieras usar funciones usa apply()***

# Referencias: 
--------------
* Aplicar funciones:
  https://medium.com/@jassielmg/6-maneras-de-aplicar-una-funci%C3%B3n-a-una-columna-con-pandas-d0a82463b0e3

* Apply():
  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html